<html style="background-color: #24292E; color: #9DA59F;">
  <head lang="en">
    <meta charset="UTF-8">
    <title>Admin Panel | RTSP NVR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="images/site.webmanifest">
  </head>
  <style>
    table { border-collapse: collapse; }
    table, th, td {
      border: 1px solid #9DA59F;
      padding: 5px;
    }
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
  <body style="margin: 0px;padding: 0px;">
    <div class="container">
      <div id="header"></div>
      <div id="content" style="margin: 8px;">
        <div>
          <h2>Cameras</h2>
          <table>
            <thead style="text-align: left;">
              <th>Camera Name</th>
              <th>Stream URL</th>
              <th colspan="2">Options</th>
            </thead>
            <tbody>
              {% for cam in cams %}
                <tr>
                  <td>{{cam.name}}</td>
                  <td>{{cam.url}}</td>
                  <td><a href=#>Edit</a></td>
                  <td><a href=#>Delete</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script type="text/jsx">
      /*** @jsx React.DOM */

      const style = {
        color: "#D6CCBD",
        backgroundColor: "#1B1D23",
        fontFamily: "-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji",
        paddingLeft: "10px"
      }
      
      const imgStyle = {
        width: "55px",
        height: "auto",
        padding: "5px",
        float: "right",
      }

      var header = React.createClass({
        render: function() {
          return (
            <div style={style}>
              <a href="/">
                <img src="images/header.png" alt="RTSP NVR" style={imgStyle} />
              </a>
              <h1>Admin Panel</h1>
            </div>
          );
        }
      });

      ReactDOM.render(
        React.createElement(header, null),
        document.getElementById('header')
      );
    </script>
  </body>
</html>